# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variable files
.env

# Ignore intermediate training output
/tools/bert-smoking-classifier
/tools/models/bert_smoking_classifier
/tools/models/ner_model
